.input {
  min-width: 400px;
  padding: 20px 0px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  text-indent: 23px;
  font-size: 23px;
  background-image: linear-gradient(
    to bottom right,
    rgba(172, 148, 108, 0.7),
    rgba(15, 12, 21, 0.7)
  );
  color: white;
}

.input:focus {
  color: white;
}
