.input {
  min-width: 400px;
  padding: 20px 0px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  text-indent: 23px;
  font-size: 23px;
  background-color: transparent;
  color: white;
}

.input:focus {
  color: white;
}
