.btn {
  padding: 5px;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 15px;
  width: 90px;
}

.btn:hover {
  box-shadow: 2px 2px 2px black;
}

.todo-text {
  word-wrap: break-word;
  width: 300px;
  font-size: 19px;
}

.todo {
  min-width: 50%;
  height: 30px;
  padding: 20px 10px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  background-image: linear-gradient(
    to bottom right,
    rgba(147, 147, 127, 0.5),
    rgba(56, 43, 33, 0.5)
  );
}
