* {
  outline: none;
}

.todo-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.todo-block header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
}

.todo-list {
  border-radius: 4px;
  width: 600px;
  margin: 0 auto;
  border: 1px solid #e3e3e3;
  padding: 15px 10px 30px;
  border-radius: 10px;
}

.todo {
  min-width: 50%;
  height: 30px;
  background: #fff;
  padding: 20px 10px;
  font-size: 19px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
}
